<div>  
  <dkt-header></dkt-header>
  <main>
    <div class="container">
      <section class="custom-main-search-menu" id="custom-main-search-menu">
      
        <h2>
          <b>Encontre o curso certo para você</b>
        </h2>
      
        <p>
          A Direkte te auxilia na hora de comparar e escolher sua pós-graduação ou MBA!
        </p>
      
        <form action="#">
      
          <div class="card">
            <div class="card-body">
              <div class="form-group">
      
                <div class="form-check form-check-inline">
                  <h4 class="card-title">
                    O que você está procurando?
                  </h4>
                </div>
      
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" value="a" id="a">
                  <label for="a" class="form-check-label">
                    Graduação
                  </label>
                </div>
      
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" value="b" id="b">
                  <label for="b" class="form-check-label">
                    Pós-graduação
                  </label>
                </div>
      
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" value="c" id="c">
                  <label for="c" class="form-check-label">
                    MBA
                  </label>
                </div>
      
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" value="d" id="d">
                  <label for="d" class="form-check-label">
                    Cursos de curta duração
                  </label>
                </div>
      
                <hr class="my-4">
      
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="course-area-select">Escolha uma área de atuação </label>
                    <small class="form-text text-muted">(ex: Direito)</small>
                    <select name="course-area-select" id="course-area-select" class="form-control">
                      <option selected value="a">Direito</option>
                      <option value="b">Tecnologia da Informação</option>
                    </select>
                  </div>
      
                  <div class="form-group col-md-6">
                    <label for="course-specialization-select">Escolha uma especialização </label>
                    <small class="form-text text-muted">(ex: Direito Comercial)</small>
                    <select name="course-specialization-select" id="course-specialization-select" class="form-control">
                      <option selected value="a">Especialização 1</option>
                      <option value="b">Especialização 2</option>
                    </select>
                  </div>
                </div>
      
                <div class="form-row">
                  <div class="form-group col-md-6">
      
                    <p>Escolha uma modalidade</p>
      
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" value="e" id="e">
                      <label for="e" class="form-check-label">
                        Presencial
                      </label>
                    </div>
      
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" value="f" id="f">
                      <label for="f" class="form-check-label">
                        Semi-presencial
                      </label>
                    </div>
      
                    <div class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" value="g" id="g">
                      <label for="g" class="form-check-label">
                        À distância
                      </label>
                    </div>
      
                  </div>
      
                  <div class="form-group col-md-6">
                    <label for="course-price-range">Quanto você gostaria de pagar no seu curso?</label>
                    <input type="range" name="course-price-range" id="course-price-range" class="form-control-range">
                  </div>
                </div>
      
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary btn-lg">Pesquisar</button>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
      
        </form>
      
      </section>
    </div>

    <div class="container">
      <section class="custom-next-step" id="custom-next-step">
        <p>Qual seu próximo passo?</p>
      
        <p>Buscando recolocação no mercado? Promoção no seu emprego atual? Melhorar sua qualificação? Mudança de carreira?
          Independente do que te motiva a continuar seus estudos, estamos aqui pra te ajudar a alcançar o que deseja. Somos
          uma
          plataforma de busca e comparação de cursos de pós-graduação e MBA na cidade de São Paulo. Consolidamos as
          informações
          dos cursos disponíveis para você comparar as opções (seja por custo, localização, instituição, etc.) e decidir qual
          é a
          melhor para você!</p>
      
        <div class="custom-next-step-content-1">
          <img src="assets/img/grupo_358.png" alt="image1">
          Busca rápida de cursos de MBA e pós-graduação, 100% grátis
        </div>
      
        <div class="custom-next-step-content-2">
          <img src="assets/img/grupo_359.png" alt="image2">
          Encontre a melhor opção para você e que cabe no seu bolso
        </div>
      
        <div class="custom-next-step-content-3">
          <img src="assets/img/grupo_360.png" alt="image3">
          Fácil comparação de cursos, com as informações que você precisa em um só lugar
        </div>
      
      </section>
    </div>
      
    <div class="container">
      <section class="custom-customer-doubts" id="custom-customer-doubts">
        <h2>Está com dúvida sobre qual curso fazer?</h2>

        <p>A gente te ajuda!</p>
        
        <p>
          É normal não ter certeza sobre qual curso escolher entre tantas áreas e opções. Por isso, nossa equipe
          está à disposição para entender melhor seu perfil e te ajudar nessa decisão.
        </p>

        <p>
          <button class="btn btn-primary">
            Fale com a gente
          </button>
        </p>

        <img src="assets/img/grupo_176.png" alt="image">

      </section>
    </div>
      
    <div class="container">

      <section class="custom-newsletter">
        <h2>
          Fique por dentro das novidades do mercado!
        </h2>

        <p>
          Receba notícias sobre carreira, o que está em alta no mercado de trabalho e informações sobre novos cursos disponíveis.
        </p>


        <div class="input-group input-group-lg">
          <input type="email" name="customer-email-newsletter" id="customer-email-newsletter" class="form-control" placeholder="Digite seu endereço de email" aria-label="Digite seu endereço de email" aria-describedby="email-newsletter">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="email-newsletter">Cadastre-se</button>
          </div>
        </div>

      </section>
    </div>
  </main>

  <dkt-footer></dkt-footer>
</div>

<router-outlet></router-outlet>
