<div>  
  <dkt-header></dkt-header>
  <main>
    <div class="custom-main-search-menu">
      <div class="custom-main-search-menu-bckg-img">
        <div class="container pt-5">
          <section id="custom-main-search-menu">
          
            <div>
              <h1>
                <b>Encontre o <u class="custom-main-text-border">curso certo</u><br/>para você</b>
              </h1>
            
              <p class="mt-4">
                A Direkte te auxilia na hora de comparar e escolher <br/>sua pós-graduação ou MBA!
              </p>
            </div>
          
            <div class="custom-main-search-card-position pt-3 px-5 mt-3 w-75">
              <div class="card">
                <form class="text-body pt-3 px-5" #formCourseSearch="ngForm" (ngSubmit)="performSearch(formCourseSearch)">
                  <div class="card-body">
                    <div class="form-group">
            
                      <div class="form-check form-check-inline">
                        <h4 class="card-title">
                          <b>O que você está procurando?</b>
                        </h4>
                      </div>
      
                      <div class="float-right">
                        <div class="form-check form-check-inline">
                          <input 
                            #postGraduation="ngModel" 
                            [(ngModel)]="courseSearchForm.postGraduation" 
                            type="checkbox" class="form-check-input" id="checkbox-post-graduation" name="checkbox-post-graduation">
                          
                          <label for="checkbox-post-graduation" class="form-check-label custom-form-label">
                            Pós-graduação
                          </label>
                        </div>
              
                        <div class="form-check form-check-inline">
                          <input 
                            #mba="ngModel"
                            [(ngModel)]="courseSearchForm.mba"
                            type="checkbox" class="form-check-input" id="checkbox-mba" name="checkbox-mba">
                          
                            <label for="checkbox-mba" class="form-check-label custom-form-label">
                            MBA
                          </label>
                        </div>
              
                        <div class="form-check form-check-inline">
                          <input 
                            #shortDuration="ngModel"
                            [(ngModel)]="courseSearchForm.shortDuration"
                            type="checkbox" class="form-check-input" id="checkbox-shortduration" name="checkbox-shortduration">
                          
                          <label for="checkbox-shortduration" class="form-check-label custom-form-label">
                            Cursos de curta duração
                          </label>
                        </div>
                      </div>
            
                      <hr class="custom-main-search-hr">
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                          <label for="course-area-select" class="custom-main-search-label">Escolha uma área de atuação </label>
                          <small class="form-text form-check-inline text-muted ml-2">(ex: Direito)</small>
      
                          <select 
                            #mainCourse="ngModel"
                            [(ngModel)]="courseSearchForm.course.mainCourse"
                            (load)=getSpecializationList($event)
                            name="course-area-select" id="course-area-select" 
                            class="form-control custom-select">
                            
                            <option *ngFor="let course of courseList" value="{{course.courseId}}">{{course.name}}</option>
      
                          </select>
                        </div>
            
                        <div class="form-group col-md-6">
                          <label for="course-specialization-select" class="custom-main-search-label">Escolha uma especialização </label>
                          <small class="form-text form-check-inline text-muted ml-2">(ex: Direito Comercial)</small>
      
                          <select 
                            #courseSpecialization="ngModel"
                            [(ngModel)]="courseSearchForm.course.specialization"
                            name="course-specialization-select" id="course-specialization-select" 
                            class="form-control custom-select">
                            
                            <option selected value="a">Especialização 1</option>
                            <option value="b">Especialização 2</option>
                          </select>
                        </div>
                      </div>
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-6">
            
                          <p class="custom-main-search-label">Escolha uma modalidade</p>
            
                          <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="e" id="e">
                            <label for="e" class="form-check-label">
                              Presencial
                            </label>
                          </div>
            
                          <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="f" id="f">
                            <label for="f" class="form-check-label">
                              Semi-presencial
                            </label>
                          </div>
            
                          <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="g" id="g">
                            <label for="g" class="form-check-label">
                              À distância
                            </label>
                          </div>
            
                        </div>
            
                        <div class="form-group col-md-6">
                          <label for="course-price-range" class="custom-main-search-label">Quanto você gostaria de pagar no seu curso?</label>
                          <input type="range" name="course-price-range" id="course-price-range" class="custom-range">
                        </div>
                      </div>
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-12">
                          <button type="submit" class="btn btn-primary btn-lg custom-primary-button">Pesquisar</button>
                        </div>
                      </div>
            
                    </div>
                  </div>
                </form>
              </div>
            </div>
          
          </section>
        </div>
      </div>
    </div>

    <div class="container">
      <section class="custom-next-step" id="custom-next-step">
        <p>Qual seu próximo passo?</p>
      
        <p>Buscando recolocação no mercado? Promoção no seu emprego atual? Melhorar sua qualificação? Mudança de carreira?
          Independente do que te motiva a continuar seus estudos, estamos aqui pra te ajudar a alcançar o que deseja. Somos
          uma
          plataforma de busca e comparação de cursos de pós-graduação e MBA na cidade de São Paulo. Consolidamos as
          informações
          dos cursos disponíveis para você comparar as opções (seja por custo, localização, instituição, etc.) e decidir qual
          é a
          melhor para você!</p>
      
        <div class="custom-next-step-content-1">
          <img src="assets/img/grupo_358.png" alt="image1">
          Busca rápida de cursos de MBA e pós-graduação, 100% grátis
        </div>
      
        <div class="custom-next-step-content-2">
          <img src="assets/img/grupo_359.png" alt="image2">
          Encontre a melhor opção para você e que cabe no seu bolso
        </div>
      
        <div class="custom-next-step-content-3">
          <img src="assets/img/grupo_360.png" alt="image3">
          Fácil comparação de cursos, com as informações que você precisa em um só lugar
        </div>
      
      </section>
    </div>
      
    <div class="container">
      <section class="custom-customer-doubts" id="custom-customer-doubts">
        <h2>Está com dúvida sobre qual curso fazer?</h2>

        <p>A gente te ajuda!</p>
        
        <p>
          É normal não ter certeza sobre qual curso escolher entre tantas áreas e opções. Por isso, nossa equipe
          está à disposição para entender melhor seu perfil e te ajudar nessa decisão.
        </p>

        <p>
          <button class="btn btn-primary">
            Fale com a gente
          </button>
        </p>

        <img src="assets/img/grupo_176.png" alt="image">

      </section>
    </div>
      
    <div class="container">

      <section class="custom-newsletter">
        <h2>
          Fique por dentro das novidades do mercado!
        </h2>

        <p>
          Receba notícias sobre carreira, o que está em alta no mercado de trabalho e informações sobre novos cursos disponíveis.
        </p>


        <div class="input-group input-group-lg">
          <input type="email" name="customer-email-newsletter" id="customer-email-newsletter" class="form-control" placeholder="Digite seu endereço de email" aria-label="Digite seu endereço de email" aria-describedby="email-newsletter">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="email-newsletter">Cadastre-se</button>
          </div>
        </div>

      </section>
    </div>
  </main>

  <dkt-footer></dkt-footer>
</div>

<router-outlet></router-outlet>
