footer {
    background: linear-gradient(#1a4680, #0a1c33);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 40px 80px;
    margin: 0;
    bottom: 0;
}

footer hr {
    background: #707070;
}

footer p {
    text-align: left;
    margin: auto;
}

.custom-footer-mec-advertisement {
    text-align: center;
}

.custom-social-media {
    padding: 7px;    
}

.custom-link-social-media {
    float: right;
    /* border: #ffffff 2px solid;
    border-radius: 5px; */
    padding: 2.5px;
    margin: 5px;
}

.privacy-policy-modal-link {
    text-decoration: none;
    color: #ffffff;
}

.privacy-policy-modal-link:hover {
    color: #ffffff;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    footer {
        font-size: 10px;
        padding: 5px 10px;
    }

    .privacy-policy-modal-link {
        font-size: 13px;
    }

    .custom-footer-policy-modal-link-p {
        width: 90px;
    }

    .custom-footer-social-media-icons {
        width: 25px;
        height: 25px;
    }

    .custom-social-media{
        display: inline;
    }
}