<!-- <div id="promo">
  <div class="container">
    <div class="px-auto">
      <i class="material-icons" style="font-size: 24px;">
        trending_up
      </i>
    
      <b> MÊS DA TECNOLOGIA: </b>
      <i>As melhores ofertas em cursos de TI</i>
    
      <button (click)="goToPromoPage()" class="btn btn-primary btn-sn custom-search-buttom ml-3">
        SAIBA MAIS
      </button>
    </div>
  </div>
</div> -->

<header>
  <nav class="navbar navbar-expand-sm px-3">
    <a (click)="goToHome()" class="navbar-brand px-md-1">
      <img src="../../../assets/img/layout/direkte_logo c2 01.png" alt="direkte logo" class="dkt-header-img">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-navbar-collapse-icon">
          <i class="material-icons" style="color: #4fbff1;">menu</i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item m-2">
          <a class="nav-link custom-navbar-menu-item" href="#custom-main-search-menu">Buscar Cursos</a>
        </li>

        <li class="nav-item m-2">
          <a class="nav-link custom-navbar-menu-item" href="#custom-next-step">Nossa Missão</a>
        </li>

        <li class="nav-item m-2">
          <a class="nav-link custom-navbar-menu-item" href="#" data-toggle="modal" data-target="#customer-form-email">Me Ajude a Encontrar um Curso</a>
        </li>
      </ul>

    </div>  
  </nav>
</header>

<app-home-customer-doubts-form-email></app-home-customer-doubts-form-email>