<header>
  <nav class="navbar navbar-expand-sm px-5">
    <a (click)="refresh()" class="navbar-brand px-md-1">
      <img src="../../../assets/img/layout/direkte_logo c2 01.png" alt="direkte logo" class="dkt-header-img">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-navbar-collapse-icon">
          <i class="material-icons" style="color: #4fbff1;">menu</i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item ml-3 mr-3">
          <a class="nav-link custom-navbar-menu-item" href="#custom-main-search-menu">Buscar Cursos</a>
        </li>

        <li class="nav-item ml-3 mr-3">
          <a class="nav-link custom-navbar-menu-item" href="#custom-next-step">Nossa Missão</a>
        </li>

        <li class="nav-item ml-3 mr-3">
          <a class="nav-link custom-navbar-menu-item" href="#custom-customer-doubts">Me Ajude a Encontrar um Curso</a>
        </li>
      </ul>

      
      <a href="mailto:contato@direkte.com.br" class="custom-navbar-contact-buttom">
        <span class="custom-navbar-contact-buttom-content">
          contato@direkte.com.br
        </span>
      </a>

    </div>  
  </nav>
</header>