header {
    background: #1a4680;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border-width: 7px;
    border-style: solid;
    border-image: 
        linear-gradient(
            to right,
            #4fbff1,
            #3082ed
        ) 10 100%; */
    border-bottom: #4fbff1 solid 7px;
}

header img {
    position: relative;
}

.dkt-header-img {
    margin: 7px 22px;
}

.custom-navbar-collapse-icon {
    color: #ffffff;
}

.custom-navbar-menu-item {
    color: #ffffff;
    font-size: 15px;
}

.custom-navbar-contact-buttom {
    background-color: #3082ed;
    border-radius: 30px;
    padding: 12px;
    text-decoration: none;
}

.custom-navbar-contact-buttom-content {
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.navbar-brand {
    cursor: pointer;
}

#promo {
    padding: 10px;
    background-color: #fc3e94;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.custom-search-buttom {
    border-radius: 8px;
    margin: 0 5px;
    background-color: #781e64;
    /* border-color: #541647; */
    border-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    header {
        border-bottom: #4fbff1 solid 4px;
    }

    .dkt-header-img {
        width: 100px;
        height: 30px;
    }

    .navbar-expand-sm {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }

    .custom-navbar-contact-buttom {
        margin: .3rem 1rem;
        display: block;
        text-align: center;
    }

    #promo {
        padding: 4px;
    }

}