<header>
  <nav class="navbar navbar-expand-md">
    <a href="#" class="navbar-brand px-md-1">
      <img src="assets/img/direkte_logo c2 01.png" alt="direkte logo" class="dkt-header-img">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-navbar-collapse-icon">
          <i class="material-icons">menu</i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li class="nav-item m-1">
          <a class="nav-link custom-navbar-menu-item" href="#">Buscar Cursos</a>
        </li>

        <li class="nav-item m-1">
          <a class="nav-link custom-navbar-menu-item" href="#">Nossa Missão</a>
        </li>

        <li class="nav-item m-1">
          <a class="nav-link custom-navbar-menu-item" href="#">Me Ajude a Encontrar um Curso</a>
        </li>
      </ul>

      <a href="#" class="btn btn-primary btn-lg custom-navbar-contact-buttom">
        <span class="custom-navbar-contact-buttom-content">
          contato@direkte.com.br
        </span>
      </a>

    </div>  
  </nav>
</header>