<div class="modal fade" id="course-pre-registration-modal" tabindex="-1" role="dialog" aria-labelledby="registrationForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-title" id="registrationForm">
          <u class="customer-main-text-border">Tem int</u>eresse? <br/><br/> Vamos entrar em contato com você!
          <p>
            {{ collegeId }}
          </p>
        </h5>

        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #coursePreRegistration="ngForm" (ngSubmit)="sendRegistration(coursePreRegistration)" class="needs-validation">
        <div class="modal-body">
          <div class="form-row">
            <div class="col-sm">
              <label for="customer-name">
                Nome Completo *
              </label>
              <input 
                [(ngModel)]="customer.name"
                (input)="checkChanges('customer-name')"
                type="text" name="customer-name" id="customer-name"
                placeholder="Digite seu Nome Completo"
                class="form-control" rerquired>

              <div class="invalid-feedback">
                Por favor preencha seu nome.
              </div>
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-sm">
              <label for="customer-email">
                E-mail *
              </label>
              <input 
                [(ngModel)]="customer.email"
                (input)="checkChanges('customer-email')"
                type="email" name="customer-email" id="customer-email"
                placeholder="Digite seu e-mail"
                class="form-control" rerquired>

              <div class="invalid-feedback">
                Por favor preencha um e-mail válido                
              </div>
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-sm">
              <label for="customer-current-job">
                Cargo Atual (ou útlimo) *
              </label>
              <input 
                [(ngModel)]="customer.currentJob"
                (input)="checkChanges('customer-current-job')"
                type="text" name="customer-current-job" id="customer-current-job"
                placeholder="Cargo atual ou último"
                class="form-control">

              <div class="invalid-feedback">
                Por favor preencha este campo
              </div>
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-sm">
              <label for="customer-current-employee-company">
                Empresa Atual (ou útlima) *
              </label>
              <input 
                [(ngModel)]="customer.currentEmployeeCompany"
                (input)="checkChanges('customer-current-employee-company')"
                type="text" name="customer-current-employee-company" id="customer-current-employee-company"
                placeholder="Empresa atual ou última em que trabalhou"
                class="form-control" rerquired>

              <div class="invalid-feedback">
                Por favor preencha este campo
              </div>
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-sm">
              <label for="customer-graduation-college">
                Faculdade
              </label>
              <input 
                [(ngModel)]="customer.graduationCollege"
                (input)="checkChanges('customer-graduation-college')"
                type="text" name="customer-graduation-college" id="customer-graduation-college"
                placeholder="Nome de sua faculdade"
                class="form-control">              
            </div>
          </div>

          <div class="form-row mt-1">
            <div class="col-sm">
              <label for="customer-graduation-year">
                Ano Graduação
              </label>
              <input 
                [(ngModel)]="customer.graduationYear"
                (input)="checkChanges('customer-graduation-year')"
                type="number" name="customer-graduation-year" id="customer-graduation-year"
                min="1970" max="2019"
                class="form-control">              
            </div>
          </div>

          <div class="form-row mt-3">
            <div class="col-sm">
              <div class="form-group">
                <div class="form-check">
                  <input 
                    [(ngModel)]="customer.lgpdConsentment"
                    type="checkbox" name="customer-lgpd-consentment" id="customer-lgpd-consentment" 
                    value=""
                    class="form-check-input" required>
                  <label for="customer-lgpd-consentment" class="form-check-label ml-1 lgpd-checkbox-label">
                    Autorizo o envio de meus dados à esta Universidade.
                  </label>
    
                  <div class="invalid-feedback">
                    <u>Você deve autorizar o envio dos dados para prosseguir.</u>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="form-row">
            <div class="col-sm">
              <label for="customer-phone">
                Telefone
              </label>
              <input 
                [(ngModel)]="customer.phone"
                (input)="checkChanges('customer-phone')"
                type="text" name="customer-phone" id="customer-phone"
                placeholder="(DD) 99999-1111"
                class="form-control" rerquired>
  
              <div class="invalid-feedback">
                Por favor preencha um telefone válido DD + telefone
              </div>
            </div>
          </div> -->
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sn mx-auto">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>