<dkt-header [displayMenuItens]="displayHeaderMenuItens"></dkt-header>
<main *ngIf="displayDefaultHome">
    <div class="custom-main-search-menu">
    <div class="custom-main-search-menu-bckg-img">
        <div class="container-sm pt-5">
        <section id="custom-main-search-menu">
        
            <div>
            <h1>
                <b>Encontre o <u class="custom-main-text-border">curso certo</u><br/>para você</b>
            </h1>
            
            <p class="mt-4 custom-main-text-sm">
                Compare e Escolha sua Pós ou MBA
            </p>
            </div>
        
            <div class="custom-main-search-card-position pt-3 px-5 mt-3">
            <div class="card">
                <form 
                    #menuSearchOptionsForm="ngForm"
                    (ngSubmit)="performSearch(menuSearchOptionsForm)"
                    class="text-body pt-3 px-5">
                <div class="card-body">
                    <div class="form-group">
            
                    <div class="form-check form-check-inline">
                        <h4 class="card-title" id="custom-card-title-mobile">
                            <b>O que você está procurando?</b>
                        </h4>
                    </div>
    
                    <div class="custom-input-course-type">
                        <div class="form-check form-check-inline">
                            <input 
                                [(ngModel)]="menuSearchOptions.postGraduation"
                                type="checkbox"
                                class="form-check-input" 
                                id="checkbox-post-graduation" name="checkbox-post-graduation" checked="checked">
                        
                            <label for="checkbox-post-graduation" class="form-check-label custom-form-label">
                                Pós-graduação
                            </label>
                        </div>
            
                        <div class="form-check form-check-inline">
                            <input 
                                [(ngModel)]="menuSearchOptions.mba"
                                type="checkbox" 
                                class="form-check-input"
                                id="checkbox-mba" name="checkbox-mba">
                        
                            <label for="checkbox-mba" class="form-check-label custom-form-label">
                                MBA
                            </label>
                        </div>
                    </div>
            
                    <hr class="custom-main-search-hr">
            
                    <div class="form-row">
                        <div class="form-group col-sm-5">
                            <label for="course-area-select" class="custom-main-search-label">Escolha uma área de atuação </label>
                            <small class="form-text form-check-inline text-muted ml-1">(ex: Administração)</small>
        
                            <select
                                [(ngModel)]="menuSearchOptions.mainCourse"
                                (change)="loadSpecialization($event)"
                                name="course-area-select" id="course-area-select" 
                                class="form-control custom-select">
                                
                                <option value="0" selected disabled>Selecione</option>
                                <option *ngFor="let course of courseList" value="{{course.id}}">{{course.nome}}</option>

                            </select>
                        </div>

                        <div class="col-sm"></div>
            
                        <div class="form-group col-sm-5">
                            <label for="course-specialization-select" class="custom-main-search-label">Escolha uma especialização </label>
                            <small class="form-text form-check-inline text-muted ml-1">(ex: Gestão Financeira)</small>
        
                            <select 
                                [(ngModel)]="menuSearchOptions.courseSpecialization"
                                name="course-specialization-select" id="course-specialization-select" 
                                class="form-control custom-select">
                                
                                <option value="0" selected disabled>Selecione</option>
                                <option *ngFor="let spec of specializationList" value="{{spec.id}}">{{spec.nome}}</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="form-row mt-3">
                        <div class="form-group col-sm-5 mx-auto">
            
                            <div class="form-row">
                                <div class="form-col mx-auto">
                                    <label class="custom-main-search-label">Escolha uma modalidade</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-col mx-auto">
                                    <div class="form-check form-check-inline">
                                        <input 
                                            [(ngModel)]="menuSearchOptions.onSite"
                                            type="checkbox" 
                                            class="form-check-input" 
                                            id="course-on-site-checkbox" name="course-on-site-checkbox">
                                        <label for="course-on-site-checkbox" class="form-check-label">
                                        Presencial
                                        </label>
                                    </div>
                                </div>
                    
                                <div class="form-col mx-auto">
                                    <div class="form-check form-check-inline">
                                        <input 
                                            [(ngModel)]="menuSearchOptions.semiOnSite"
                                            type="checkbox" 
                                            class="form-check-input" 
                                            id="course-semi-on-site-checkbox" name="course-semi-on-site-checkbox">
                                        <label for="course-semi-on-site-checkbox" class="form-check-label">
                                        Semi-presencial
                                        </label>
                                    </div>
                                </div>
                            </div>
            
                            <!-- To be implemented - pending adjustments on backend -->
                            <!-- <div class="form-check form-check-inline ml-3"> 
                                <input 
                                    [(ngModel)]="menuSearchOptions.onlineCourse"
                                    type="checkbox" 
                                    class="form-check-input"
                                    id="course-online-checkbox" name="course-online-checkbox">
                                <label for="course-online-checkbox" class="form-check-label">
                                À distância
                                </label>
                            </div> -->
            
                        </div>
            
                            <!-- TODO - BACKEND PENDING AN API TO PERFORM A SEARCH USING PRICE RANGE
                            <div class="form-group col-md-5 ml-5">
                            <label for="course-price-range" class="custom-main-search-label">Quanto você gostaria de pagar no seu curso?</label>
                            <input type="range" name="course-price-range" id="course-price-range" data-slider-min="1000" data-slider-max="5000" data-slider-step="100" data-slider-value="2000">

                            <p class="custom-price-range-label text-center">
                                Até R$ 5000/mês
                            </p>
                            </div> -->
                    </div>
            
                        <div class="form-row mt-3">
                            <div class="form-col mx-auto">
                                <button type="submit" class="btn btn-primary btn-md custom-primary-button">Pesquisar</button>
                            </div>
                        </div>
            
                    </div>
                </div>
                </form>
            </div>
            </div>
        
        </section>
        </div>
    </div>
    </div>

    <div class="custom-next-step">
    <div class="container">
        <section id="custom-next-step">
        <div class="row h-100">
            <div class="col my-auto px-3 hide-desktop">
            <div class="custom-next-step-badge-item">
                <div class="row">
                <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_358.png" alt="image1">
                </div>
                <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                    Busca rápida de cursos de MBA e pós-graduação, 100% grátis
                    </div>
                </div>
                </div>
            </div>

            <div class="custom-next-step-badge-item">
                <div class="row">
                <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_359.png" alt="image2">
                </div>
                <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                    Encontre a melhor opção para você e que cabe no seu bolso
                    </div>
                </div>
                </div>
            </div>

            <div class="custom-next-step-badge-item">
                <div class="row">
                <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_360.png" alt="image3">
                </div>
                <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                    Fácil comparação de cursos, com as informações que você precisa em um só lugar
                    </div>
                </div>
                </div>
            </div>

            </div>

            <div class="col mt-3">
                <h2 class="mb-3 mt-5 custom-customer-doubts-title"><u class="custom-main-text-border">Qual</u> seu próximo passo?</h2>
                
                <p class="mt-5 custom-customer-doubts-paragraph">Buscando recolocação no mercado? Promoção no seu emprego atual? Melhorar sua qualificação? Mudança de carreira?
                    Independente do que te motiva a continuar seus estudos, estamos aqui pra te ajudar a alcançar o que deseja.
                </p>

                <p class="mt-5 custom-customer-doubts-paragraph">
                    Somos uma plataforma de busca e comparação de cursos de pós-graduação e MBA na cidade de São Paulo. Consolidamos as
                    informações dos cursos disponíveis para você comparar as opções (seja por custo, localização, instituição, etc.) e decidir qual
                    é a melhor para você!
                </p>
            </div>

            <div class="col my-auto px-3 hide-mobile">
                <div class="custom-next-step-badge-item">
                    <div class="row">
                    <div class="col-3">
                        <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_358.png" alt="image1">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="custom-next-step-badge-item-text">
                        Busca rápida de cursos de MBA e pós-graduação, 100% grátis
                        </div>
                    </div>
                    </div>
                </div>
    
                <div class="custom-next-step-badge-item">
                    <div class="row">
                    <div class="col-3">
                        <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_359.png" alt="image2">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="custom-next-step-badge-item-text">
                        Encontre a melhor opção para você e que cabe no seu bolso
                        </div>
                    </div>
                    </div>
                </div>
    
                <div class="custom-next-step-badge-item">
                    <div class="row">
                    <div class="col-3">
                        <img class="custom-next-step-badge-item-img" src="assets/img/layout/grupo_360.png" alt="image3">
                    </div>
                    <div class="col-9 my-auto">
                        <div class="custom-next-step-badge-item-text">
                        Fácil comparação de cursos, com as informações que você precisa em um só lugar
                        </div>
                    </div>
                    </div>
                </div>
    
            </div>
        </div>
        </section>
    </div>
    </div>
    
    <div class="custom-customer-doubts-bck">
    <div class="container">
        <section id="custom-customer-doubts">
        <div class="row h-100">
            <div class="col my-auto p-3">

                <h2 class="mb-3 custom-customer-doubts-title">Está com dúvida sobre qual <br/><u class="custom-main-text-border">curs</u>o fazer?</h2>

                <img src="assets/img/layout/grupo_176.png" alt="" id="custom-customer-doubts-image-mobile">
        
                <p class="my-5 custom-customer-doubts-bck-paragraph">A gente te ajuda!</p>
                
                <p class="custom-customer-doubts-bck-paragraph">
                    É normal não ter certeza sobre qual curso escolher entre tantas áreas e opções.
                    Por isso, nossa equipe
                    está à disposição para entender melhor seu perfil e te ajudar nessa decisão.
                </p>
        
                <p class="mt-5 pl-5 custom-customer-doubts-bck-paragraph hide-mobile">
                    <button class="btn btn-primary btn-sm px-5 py-3 custom-app-general-button ml-3" data-toggle="modal" data-target="#customer-form-email">
                    Fale com a gente
                    </button>
                </p>

                <p class="mt-5 custom-customer-doubts-bck-paragraph hide-desktop">
                    <button class="btn btn-primary btn-lg px-5 py-3 custom-app-general-button" data-toggle="modal" data-target="#customer-form-email">
                    Fale com a gente
                    </button>
                </p>

            </div>

            <app-home-customer-doubts-form-email></app-home-customer-doubts-form-email>

            <div class="col ml-5 custom-customer-doubts-image-col">
            <div class="py-5">
                <img src="assets/img/layout/grupo_176.png" id="custom-customer-doubts-image" alt="image">
            </div>
            </div>
        </div>

        </section>
    </div>
    </div>
    
    <div class="custom-newletter-bck">
    <div class="container">

        <section class="custom-newsletter p-5 hide-desktop">
            <h2 class="custom-newsletter-title">
                Fique por dentro das novidades do mercado!
            </h2>

            <p class="pt-3">
                Receba notícias sobre carreira, o que está em alta no mercado de trabalho e informações sobre <br/>novos cursos disponíveis.
            </p>

            <div class="input-group input-group-lg p-5">
                <input type="email" name="customer-email-newsletter" id="customer-email-newsletter" class="form-control" placeholder="Digite seu endereço de email" aria-label="Digite seu endereço de email" aria-describedby="email-newsletter">
                <div class="input-group-append">
                    <button class="btn btn-lg custom-newletter-button" type="button" id="email-newsletter">Cadastre-se</button>
                </div>
            </div>
        </section>

        <section class="custom-newsletter p-5 hide-mobile">
            <h2 class="custom-newsletter-title">
                Fique por dentro das novidades do mercado!
            </h2>

            <p class="pt-3">
                Receba notícias sobre carreira, o que está em alta no mercado de trabalho e informações sobre <br/>novos cursos disponíveis.
            </p>

            <div class="input-group input-group-sm mb-3">
                <input type="email" name="customer-email-newsletter" id="customer-email-newsletter" class="form-control" placeholder="Digite seu endereço de email" aria-label="Digite seu endereço de email" aria-describedby="email-newsletter">
                <div class="input-group-append">
                    <button class="btn btn-sm custom-newletter-button" type="button" id="email-newsletter">Cadastre-se</button>
                </div>
            </div>
        </section>
        
    </div>
    </div>
</main>

<app-search-course *ngIf="displaySearch" 
    [menuSearchOptions]="menuSearchOptions" 
    [searchCouseResult]="searchCouseResult"
    [courseList]="courseList"
    [specializationList]="specializationList"
    [specializationListDump]="specializationListDump">
</app-search-course>

<dkt-footer></dkt-footer>
<router-outlet></router-outlet>