<dkt-header></dkt-header>
<main>
  <div class="container">

    <div class="row">
      <div class="col-sm">
        <h1 class="pt-5">
          <u class="custom-main-text-border">Resu</u>ltados da busca
        </h1>
      
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <p>
              <b>
                Gostaria de refinar ainda mais sua busca?
              </b>
            </p>

            <p>
              Use os filtros de pesquisa para encontrar o curso ideal para você!
            </p>
          </div>

          
        </div>
      </div>

    </div>

  </div>
</main>

<dkt-footer></dkt-footer>