<main class="pb-5">
  <div class="container-md">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="pt-5 ml-1 custom-main-card-title">
          <u class="custom-main-text-border">Res</u>ultados da busca
        </h1>
      
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">

        <div class="card custom-card-menu mt-3">
          <div class="card-body">

            <div class="custom-card-menu-header">
              <h4 class="card-title">
                <b>Gostaria de refinar ainda mais sua busca?</b>
              </h4>
              <p class="card-text text-center">
                Use os filtros de pesquisa para encontrar o curso ideal para você!
              </p>
            </div>

            <form>
              <div class="custom-main-card-body">
                <h3 class="custom-main-card-body-title pt-3">Tipo de curso</h3>

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="checkbox-post-graduation" id="checkbox-post-graduation">
                  <label for="checkbox-post-graduation" class="form-check-label">Pós-graduação</label>
                </div>

                <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="checkbox-mba" id="checkbox-mba">
                  <label for="checkbox-mba" class="form-check-label">MBA</label>
                </div>
              </div>

              <hr>

              <h3 class="custom-main-card-body-title">Área de atuação</h3>

              <select name="course-area-select" id="course-area-select" class="custom-select" required>
                <option selected disabled value="">Selecione</option>
                <option value="b">Curso 1</option>
                <option value="c">Curso 2</option>
              </select>

              <hr>

              <h3 class="custom-main-card-body-title">Especialização</h3>

              <select name="ccourse-specialization-select" id="ccourse-specialization-select" class="custom-select" required>
                <option selected disabled value="">Selecione</option>
                <option value="b">Especialização 1</option>
                <option value="c">Especialização 2</option>
              </select>

              <hr>

              <h3 class="custom-main-card-body-title">Modalidade</h3>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-on-site-checkbox" id="course-on-site-checkbox">
                <label for="course-on-site-checkbox" class="form-check-label">Presencial</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-semi-on-site-checkbox" id="course-semi-on-site-checkbox">
                <label for="course-semi-on-site-checkbox" class="form-check-label">Semi-presencial</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-online-checkbox" id="course-online-checkbox">
                <label for="course-online-checkbox" class="form-check-label">À distância</label>
              </div>

              <hr>

              <h3 class="custom-main-card-body-title">Custo</h3>

              <input type="range" class="custom-range" name="course-price-range" id="course-price-range">
              <p class="text-center">
                Até 5.000 / mês
              </p>

              <hr>

              <h3 class="custom-main-card-body-title">Período</h3>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-shift-night" id="course-shift-night">
                <label for="course-shift-night" class="form-check-label">Noturno</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-shift-day" id="course-shift-day">
                <label for="course-shift-day" class="form-check-label">Diurno</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-shift-integral" id="course-shift-integral">
                <label for="course-shift-integral" class="form-check-label">Integral</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="course-shift-weekend" id="course-shift-weekend">
                <label for="course-shift-weekend" class="form-check-label">Aos finais de semana</label>
              </div>

              <hr>

              <h3 class="custom-main-card-body-title">Localização</h3>

              <p class="custom-main-card-body-tip">
                Selecione em quais áreas você gostaria que seu curso ocorra.
              </p>
              <select name="ccourse-specialization-select" id="ccourse-specialization-select" class="custom-select" required>
                <option selected disabled value="">Selecione</option>
                <option value="b">Norte</option>
                <option value="c">Sul</option>
              </select>

              <hr>

              <h3 class="custom-main-card-body-title">Faculdade</h3>

              <p class="custom-main-card-body-tip">
                Selecione em quais áreas você gostaria que seu curso ocorra.
              </p>

              <select name="ccourse-specialization-select" id="ccourse-specialization-select" class="custom-select" required>
                <option selected disabled value="">Selecione</option>
                <option value="b">FIAP</option>
                <option value="c">PUC-SP</option>
              </select>

              <div class="mx-auto pt-5">
                <button type="button" class="btn btn-outline-primary btn-lg mr-3">Limpar Filtros</button>
                <button type="submit" class="btn btn-primary btn-lg">Pesquisar</button>
              </div>

            </form>

          </div>
        </div>

      </div>

      <div class="col-sm-8 mt-3">

        <div class="row ml-1">
          <button type="button" class="btn btn-primary btn-lg mr-3 custom-search-buttom">Cursos disponíveis</button>
          <button type="button" class="btn btn-outline-primary btn-lg custom-search-buttom">Cursos salvos</button>

        </div>
        
        <div class="row mt-3">
          <div class="col-sm">
            <p>
              16 resultados encontrados
            </p>
          </div>
        </div>

        <div class="row mt-3">

          <div class="col-sm">

            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div class="custom-card-image-title">
                  <img src="assets/img/college/PUC.jpg" alt="puc">
                </div>

                <hr>

                <h3 class="custom-main-card-body-title">Faculdade</h3>
                <p>PUC-São Paulo</p>

                <hr>

                <h3 class="custom-main-card-body-title">Curso</h3>
                <p>Pós-Graduação - Direito Comercial</p>

                <hr>

                <h3 class="custom-main-card-body-title">Modalidade</h3>
                <p>Presencial</p>

                <hr>

                <h3 class="custom-main-card-body-title">Período</h3>
                <p>Noturno - Quartas e Sexta das 19h às 22h40</p>

                <hr>

                <h3 class="custom-main-card-body-title">Duração</h3>
                <p>1 ano e meio</p>

                <hr>

                <h3 class="custom-main-card-body-title">Investimento Mensal</h3>
                <p>R$ 1.373,75</p>

                <hr>

                <h3 class="custom-main-card-body-title">Localização</h3>
                <p>Moema</p>

                <hr>

                <div class="mx-auto ">
                  <button type="button" class="btn btn-primary btn-lg custom-search-buttom">Ver detalhes</button>
                </div>

              </div>
            </div>

          </div>

          <div class="col-sm">

            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <div class="custom-card-image-title">
                  <img src="assets/img/college/PUC.jpg" alt="puc">
                </div>

                <hr>

                <h3 class="custom-main-card-body-title">Faculdade</h3>
                <p>PUC-São Paulo</p>

                <hr>

                <h3 class="custom-main-card-body-title">Curso</h3>
                <p>Pós-Graduação - Direito Comercial</p>

                <hr>

                <h3 class="custom-main-card-body-title">Modalidade</h3>
                <p>Presencial</p>

                <hr>

                <h3 class="custom-main-card-body-title">Período</h3>
                <p>Noturno - Quartas e Sexta das 19h às 22h40</p>

                <hr>

                <h3 class="custom-main-card-body-title">Duração</h3>
                <p>1 ano e meio</p>

                <hr>

                <h3 class="custom-main-card-body-title">Investimento Mensal</h3>
                <p>R$ 1.373,75</p>

                <hr>

                <h3 class="custom-main-card-body-title">Localização</h3>
                <p>Moema</p>

                <hr>

                <div class="mx-auto ">
                  <button type="button" class="btn btn-primary btn-lg custom-search-buttom">Ver detalhes</button>
                </div>

              </div>
            </div>

          </div>
          
        </div>

      </div>

    </div>

  </div>
</main>