<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 p-3">
        <p>
          Política de privacidade
        </p>
      </div>
      <div class="col-sm-4">
        <div class="custom-social-media">
          <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 25.png" alt="e-mail" class="custom-footer-social-media-icons"></a>        
          <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 24.png" alt="instagram" class="custom-footer-social-media-icons"></a>
          <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 23.png" alt="facebook" class="custom-footer-social-media-icons"></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr/>
      </div>
    </div>

    <div class="row custom-footer-mec-advertisement">
      <div class="col">
        A plataforma Direkte não é responsável por gerar informações, somente por consolidar e disponibilizar as informações
        encontradas nos websites das Instituição de Ensino e na plataforma digital do Ministério da Educação (“MEC”). Alterações
        nestas informações podem ocorrer sem aviso prévio.
      </div>
    </div>
  </div>
</footer>