<footer class="d-block">
  <div class="row">
    <div class="col-sm-8 p-3">
      <p>
        <a href="#" class="privacy-policy-modal-link" data-toggle="modal" data-target="#privacy-policy-modal">Política de privacidade</a>
      </p>
    </div>
    <div class="col-sm-4">
      <div class="custom-social-media">
        <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 25.png" alt="e-mail" class="custom-footer-social-media-icons"></a>        
        <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 24.png" alt="instagram" class="custom-footer-social-media-icons"></a>
        <a href="#" class="custom-link-social-media"><img src="assets/img/grupo_de m scara 23.png" alt="facebook" class="custom-footer-social-media-icons"></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr/>
    </div>
  </div>

  <div class="row custom-footer-mec-advertisement">
    <div class="col">
      A plataforma Direkte não é responsável por gerar informações, somente por consolidar e disponibilizar as informações
      encontradas nos websites das Instituição de Ensino e na plataforma digital do Ministério da Educação (“MEC”). Alterações
      nestas informações podem ocorrer sem aviso prévio.
    </div>
  </div>
</footer>

<div class="modal fade" id="privacy-policy-modal" tabindex="-1" role="dialog" aria-labelledby="privacy-policy-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="privacy-policy-modal-title">Política de privacidade</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p align="center">
          <strong>DIREKTE EDUCAÇÃO DIRECIONADA</strong>
        </p>
        <p align="center">
          <strong>DECLARAÇÃO DE PRIVACIDADE DO USUÁRIO </strong>
        </p>
        <p align="left">
          <strong> </strong>
        </p>
        <p align="left">
          <strong> </strong>
        </p>
        <h3>
          I - RELAÇÃO CONTRATUAL
        </h3>
        <p>
          A presente Declaração de Privacidade do Usuário, define como serão
          utilizadas as informações obtidas por meio do cadastro e da prestação de
          serviços prestados pela DIREKTE EDUCAÇÃO DIRECIONADA LTDA., sociedade de
          responsabilidade limitada, estabelecida no Brasil, com sede na Rua Pereira
          Leite, nº 70, apartamento 501, Sumarezinho, CEP 05442-000, São Paulo/SP,
          inscrita no Cadastro Nacional de Pessoas Jurídicas do Ministério da Fazenda
          (CNPJ/MF) sob o nº 32.135.632/0001-59.
        </p>
        <p>
          A Direkte pode coletar informações sobre você quando utiliza a plataforma
          de serviços <em>online,</em> bem como quando estabelece outras interações
          que dependam de sua intermediação.
        </p>
        <p>
          Pelo cadastramento como “usuário”, independentemente de utilizar ou não o
          serviço, concorda em se vincular e cumprir os Termos e Políticas de
          Privacidade, aqui definidos.
        </p>
        <h3>
          II – APLICAÇÃO DA DECLARAÇÃO DE PRIVACIDADE E COLETA DE INFORMAÇÕES
        </h3>
        <p>
          2.1 Esta Declaração de Privacidade aplica-se a indivíduos em todo o Brasil
          que utilizam a plataforma <em>on-line </em>com o intuito de buscar
          informações sobre as instituições de ensino, que ofereçam cursos e se
          enquadrem no objetivo pessoal de cada “usuário”, por meio do sistema
          desenvolvido pela empresa Direkte, que atende todo território nacional.
        </p>
        <p>
          2.2 Coletamos informações que você nos envia diretamente, por exemplo, ao
          criar ou modificar sua conta, solicitar pesquisas de instituições de
          ensino, entrar em contato com o atendimento ao cliente ou comunicar-se
          conosco por meio de qualquer outra ferramenta. As informações podem
          incluir: nome, e-mail, telefone, endereço para correspondência, foto do
          perfil, produtos pesquisados e outras informações que desejar fornecer.
        </p>
        <p>
          2.3 Ao utilizar os Serviços, coletamos informações sobre você nas seguintes
          categorias gerais:
        </p>
        <p>
          (i) Informações referentes à localização: Para aperfeiçoar a plataforma e
          direcionar o “usuário” por meio de um resultado de pesquisa preciso,
          poderemos deduzir sua localização aproximada a partir do endereço de IP, ou
          solicitar que a informe antes de iniciar a navegação pelo site.
        </p>
        <p>
          (ii) Uso de informações preferenciais: Coletamos informações sobre como
          você e os visitantes do site interagem com nossos Serviços, as preferências
          manifestadas e as configurações escolhidas. Em alguns casos, para tanto,
          fazemos uso de cookies e tecnologias similares que criam e mantêm
          identificadores exclusivos.
        </p>
        <p>
          (iii) Informações do dispositivo: Podemos coletar informações sobre seu
          dispositivo móvel (quando estiver navegando por ele), incluindo, por
          exemplo, modelo do hardware, sistema operacional e versão, nomes e versões
          de arquivos, idioma de preferência, identificador exclusivo do dispositivo,
          identificadores de publicidade, número de série, informações referentes ao
          movimento do dispositivo e informações de rede.
        </p>
        <p>
          (iv) Informações de registro: Ao interagir com os Serviços, coletamos
          registros do servidor que podem incluir informações como endereço IP do
          dispositivo, acesso a datas e horários, características do aplicativo ou
          páginas visualizadas, bloqueio de aplicativos e outras atividades do
          sistema, tipo de navegador e site de terceiros ou serviço utilizado antes
          de interagir com os nossos Serviços.
        </p>
        <p>
          2.4 Ao realizar cadastro em nosso site, o “usuário” será considerado como <em>opt-in</em> e poderá receber e-mails da
          Direkte.
        </p>
        <p>
          2.5 A Direkte nunca envia e-mails solicitando confirmação de dados/cadastro
          ou com anexos executáveis (extensão .exe, .com, .scr, .bat, .zip, .rar,
          .clp, por exemplo) nem links para download.
        </p>
        <p>
          2.6 Caso você não queira mais receber comunicados diretos da Direkte,
          poderá clicar na opção <em>opt-out</em>, contida em todos os comunicados
          enviados por e-mail.
        </p>
        <p>
          2.7 Pode ser que a exclusão e consequente cancelamento não ocorram de
          maneira imediata, devido à manutenção e/ou atualização dos servidores
          ativos.
        </p>
        <p>
          2.8 Para sanar quaisquer dúvidas acerca desse assunto, o usuário poderá
          entrar em contato por meio do site direkte.com.br.
        </p>
        <h3>
          III - PERMISSÕES DA PLATAFORMA E INFORMAÇÕES DE OUTRAS FONTES
        </h3>
        <p>
          3.1 Pensando em melhor atender seus “usuários”, a plataforma <em>on-line</em> desenvolvida pela Direkte será
          responsiva, o que significa
          que você poderá ter acesso total ao conteúdo, de forma clara e objetiva,
          independentemente do dispositivo que estiver utilizando.
        </p>
        <p>
          3.2 A maioria das plataformas para dispositivos móveis, como iOS e Android,
          definiram certos tipos de dados do dispositivo que não podem ser acessados
          sem seu consentimento. Essas plataformas possuem diferentes sistemas de
          autorização para obter seu consentimento, sendo a Direkte obrigada a seguir
          tais diretrizes.
        </p>
        <p>
          3.3 Também poderemos receber informações de outras fontes e associá-las às
          informações reunidas através dos nossos Serviços, por exemplo, se você
          optar por vincular, criar ou acessar sua conta Direkte via provedor
          Facebook, ou se você utilizar um aplicativo ou site à parte que usa nosso
          API (<em>Application Programming Interface</em>), poderemos receber
          informações sobre você ou suas conexões a partir dessas plataformas.
        </p>
        <h3>
          IV - USO DAS INFORMAÇÕES
        </h3>
        <p>
          4.1 A plataforma <em>on-line </em>desenvolvida pela Direkte não é
          responsável por gerar informações sobre cursos, bem como não terá qualquer
          responsabilidade comercial entre usuários e instituições de ensino.
        </p>
        <p>
          4.1.1 A Direkte poderá, a seu critério, publicar textos por meio de fóruns
          ou blogs, cuja responsabilidade sobre o conteúdo será dos respectivos
          autores.
        </p>
        <p>
          4.2 Todo o conteúdo apresentado que diz respeito às instituições de ensino,
          aos cursos, agenda de inscrições, etc., são de exclusiva responsabilidade
          da referida instituição de ensino.
        </p>
        <p>
          4.3 A Direkte é responsável por reunir e apresentar as informações das
          instituições brasileiras de ensino com o objetivo de orientar e auxiliar o
          “usuário” em sua busca.
        </p>
        <p>
          4.4 A Direkte poderá usar as informações coletadas sobre você para
          fornecer, manter e melhorar os Serviços, incluindo melhorias gerais no
          sistema, fornecer produtos e serviços, desenvolver novos recursos, prestar
          suporte ao cliente para “usuários”, desenvolver recursos de segurança,
          autenticar “usuários” e enviar as atualizações do produto e mensagens
          administrativas.
        </p>
        <p>
          4.4.1 Os dados são registrados pela Direkte de forma automatizada,
          dispensando manipulação humana.
        </p>
        <p>
          4.5 É possível, ainda, utilizar as informações coletadas para executar
          operações internas, incluindo, por exemplo, operações para evitar fraudes e
          abusos em relação aos Serviços, solucionar problemas operacionais e erros
          de software, executar análise de dados, testes e pesquisas, bem como
          monitorar e analisar tendências de uso e atividade.
        </p>
        <p>
          4.6 As informações são úteis para enviar comunicados que, em nossa opinião,
          serão de seu interesse, entre os quais, informações sobre produtos,
          serviços, promoções, notícias, eventos da Direkte e de outras empresas
          parceiras, quando admissível e em conformidade com as leis locais
          aplicáveis, e processar concursos, sorteios e outras inscrições
          promocionais garantindo o cumprimento da premiação relacionada.
        </p>
        <p>
          4.7 Além de todas as referidas utilizações, a coleta de informações permite
          personalizar e melhorar os Serviços de modo geral, inclusive fornecer ou
          recomendar recursos, conteúdo, conexões sociais, encaminhamentos e
          anúncios.
        </p>
        <p>
          4.8 As informações aqui tratadas poderão ser modificadas sem necessidade de
          prévio aviso.
        </p>
        <h3>
          V - COMPARTILHAMENTO DE INFORMAÇÕES
        </h3>
        <p>
          5.1 Podemos compartilhar as informações que coletamos sobre você conforme
          descrito nesta Declaração ou conforme descrito no momento da coleta ou
          compartilhamento, inclusive da seguinte forma:
        </p>
        <p>
          (i) Com o público em geral, se você enviar conteúdo a um fórum aberto, como
          comentários em blog, publicações em mídias sociais ou outros recursos
          disponíveis através dos nossos Serviços e visíveis ao público em geral;
        </p>
        <p>
          (ii) Com terceiros com os quais você optar por nos deixar compartilhar
          informações, por exemplo, nos casos de outros aplicativos ou sites que se
          integram a nossa API ou Serviços, ou aos quais nossa API ou Serviços estão
          integrados;
        </p>
        <p>
          (iii) Com entidades parceiras ou prestadores de serviço da Direkte que
          fornecem serviços ou processam dados em nosso nome, ou para fins de
          centralização de informações;
        </p>
        <p>
          (iv) Com fornecedores, consultores, parceiros de marketing e outros
          prestadores de serviços que precisam acessar as informações para execução
          do trabalho em nosso nome;
        </p>
        <p>
          (v) Em resposta à solicitação de informações apresentada por autoridade
          competente, se entendermos que a divulgação está de acordo ou é exigida
          conforme as leis, regulamentos ou processos legais aplicáveis;
        </p>
        <p>
          (vi) Com agentes da lei, autoridades governamentais ou entidades
          equiparadas, se entendermos que suas ações são inconsistentes em relação às
          disposições em nossos contratos de Usuário, Termos de Serviço ou políticas
          em geral, para proteger os direitos, a propriedade e a segurança da Direkte
          e de seus usuários;
        </p>
        <p>
          (vii) Em conexão ou durante negociações de fusão, venda de ativos da
          empresa, consolidação ou restruturação, financiamento ou aquisição dos
          nossos negócios, em todo ou em parte, por outra empresa;
        </p>
        <p>
          (viii) Se, mediante notificação, você concordar em compartilhá-las; e
        </p>
        <p>
          (ix) De forma agregada e/ou anônima que não possa ser usada para
          identificá-lo.
        </p>
        <p>
          5.2 A Direkte não será responsabilizada pelas práticas de privacidade ou
          pelo conteúdo desses outros sites e/ou entidades, bem como por falhas na
          segurança de dados ou ilegalidades cometidas por terceiros, sejam eles
          parceiros comerciais ou não.
        </p>
        <h3>
          VI - RECURSOS DE COMPARTILHAMENTO SOCIAL
        </h3>
        <p>
          6.1 Os Serviços podem integrar recursos de compartilhamento social e outras
          ferramentas relacionadas, que lhe permitem compartilhar ações relacionadas
          aos nossos Serviços com outros aplicativos, sites ou mídias e vice-versa.
        </p>
        <p>
          6.2 O uso de tais recursos permite o compartilhamento de informações com
          seus amigos ou o público, dependendo das configurações estabelecidas com o
          serviço de compartilhamento social. Consulte sempre as políticas de
          privacidade relacionadas aos serviços de compartilhamento social que for
          utilizar, para obter mais informações sobre como administram os dados que
          você fornece ou compartilha ao usá-los.
        </p>
        <p>
          6.3 A Direkte não se responsabilizará, em hipótese alguma, com a utilização
          das informações compartilhadas pelo “usuário” para outras empresas ou
          plataformas, que não sejam de seu domínio próprio.
        </p>
        <h3>
          VII - ANÁLISE E SERVIÇOS DE PUBLICIDADE FORNECIDOS POR TERCEIROS
        </h3>
        <p>
          7.1 Podemos permitir que terceiros nos forneçam serviços de medição de
          público e análise para divulgação de anúncios na internet em nosso nome,
          além de rastrear e comunicar o desempenho dos referidos anúncios.
        </p>
        <p>
          7.2 Estas entidades podem usar <em>cookies, web beacons, SDKs</em>
          (ferramentas que permitem armazenar seus dados e obter algumas informações
          de uso) e outras tecnologias para identificar seu dispositivo quando em
          visita ao site e ao utilizar os Serviços ou quando em visita outros sites e
          serviços no ambiente <em>on-line</em>.
        </p>
        <h3>
          VIII - INFORMAÇÕES DA CONTA
        </h3>
        <p>
          8.1 Você pode corrigir informações da sua conta a qualquer momento. Para
          tanto, acesse sua conta <em>on-line</em> por meio do nosso sítio
          eletrônico. Se desejar cancelar sua conta, entre em contato conosco no
          campo “Fale Conosco” ou realize o descadastramento diretamente pelo site.
        </p>
        <p>
          8.2 Observe que em alguns casos poderemos manter determinadas informações a
          seu respeito, conforme exigência legal, ou para fins legítimos de negócios,
          na extensão permitida em lei.
        </p>
        <p>
          8.3 Caso haja alguma pendência em sua conta, ou se suspeitarmos de fraude
          ou violação aos Termos da Direkte, poderemos optar por solucionar a questão
          antes de excluir suas informações.
        </p>
        <h3>
          IX - INFORMAÇÕES REFERENTES À LOCALIZAÇÃO E DIREITOS DE ACESSO
        </h3>
        <p>
          9.1 A Direkte cumprirá com as solicitações do indivíduo referentes ao
          acesso, correção e/ou exclusão dos dados pessoais armazenados em
          conformidade com a legislação aplicável.
        </p>
        <p>
          9.2 Poderemos solicitar autorização ao seu dispositivo para coleta de dados
          de localização exata, pelo sistema de permissões utilizado pelo sistema
          operacional móvel, quando estiver navegando por ele.
        </p>
        <p>
          9.3 Se você inicialmente permitir a coleta das informações, você poderá
          desativar essa permissão posteriormente alterando as configurações de
          localização no seu dispositivo móvel. No entanto, esta opção limitará a
          capacidade de uso de certos recursos oferecidos por nossos Serviços.
        </p>
        <p>
          9.4 Além disso, desabilitar a coleta de dados da nossa plataforma referente
          à localização exata do seu dispositivo não limitará totalmente nossa
          capacidade de coletar informações de localização, já que possível deduzir a
          localização aproximada do seu endereço de IP.
        </p>
        <h3>
          X – COMPARTILHAMENTO DE INFORMAÇÕES COM ANUNCIANTES E PARCEIROS EXTERNOS
        </h3>
        <p>
          10.1 A Direkte se reserva ao direito de permitir anúncios em sua plataforma
          ou no site que a hospeda.
        </p>
        <p>
          10.2 Parceiros externos ajudam a fornecer e a aprimorar nossos serviços e,
          em contrapartida, buscam ampliar seus negócios, o que possibilita a
          operação de nossa empresa e o fornecimento de serviços gratuitos para
          pessoas de todo o Brasil.
        </p>
        <p>
          10.3 Não vendemos nenhuma de suas informações para ninguém e jamais o
          faremos. Também impomos fortes restrições sobre como nossos parceiros podem
          usar e divulgar os dados que fornecemos.
        </p>
        <p>
          10.4 Poderemos oferecer aos anunciantes relatórios sobre os tipos de
          pessoas que visualizaram os anúncios deles e sobre o desempenho de tais
          anúncios, mas não compartilhamos informações que identifiquem você
          pessoalmente (informações como seu nome ou endereço de e-mail, que possam
          ser usadas por si só para contatar ou identificar você), a menos que você
          nos dê permissão para tanto. Por exemplo, poderemos fornecer dados
          demográficos gerais e informações sobre interesses aos anunciantes (como a
          informação de que um anúncio foi visto por uma mulher com idade entre 20 e
          30 anos que mora no Rio de Janeiro e gostaria de cursar administração de
          empresas) para ajudá-los a entender melhor o público alvo.
        </p>
        <p>
          10.5 A manutenção da relação com anunciantes e parceiros externos permitirá
          que a Direkte continua oferecendo um serviço de qualidade, com
          transparência e objetividade.
        </p>
        <h3>
          XI - COMUNICADOS SOBRE PROMOÇÕES
        </h3>
        <p>
          11.1 Você pode optar por não receber mensagens de cunho promocional,
          seguindo as instruções contidas na própria plataforma. Se optar por não
          recebê-las, ainda assim, poderemos enviar comunicados não promocionais,
          como, por exemplo, referentes à sua conta, aos serviços solicitados ou
          relacionadas ao resultado de sua pesquisa.
        </p>
        <h3>
          XII - ALTERAÇÕES À NOSSA POLÍTICA DE PRIVACIDADE
        </h3>
        <p>
          12.1 Poderemos alterar a presente Declaração de Privacidade,
          ocasionalmente, conforme nossa necessidade. Se houver alterações
          significativas referentes ao modo como tratamos suas informações pessoais
          ou às disposições previstas nesta Declaração, encaminharemos uma
          notificação através dos Serviços ou outros meios disponíveis.
        </p>
        <p>
          12.2 O uso continuado dos Serviços após notificação constitui seu
          consentimento em relação às novas alterações. Sugerimos que você consulte a
          Declaração periodicamente para verificação das informações mais recentes
          referentes às nossas práticas de privacidade.
        </p>
        <p>
          12.3 Para outros esclarecimentos sobre a Declaração de Privacidade, entre
          em contato conosco pelo site direkte.com.br, que entraremos em contato com
          a maior brevidade possível.
        </p>
      </div>

    </div>
  </div>
</div>