<div>  
  <dkt-header></dkt-header>
  <main>
    <div class="custom-main-search-menu">
      <div class="custom-main-search-menu-bckg-img">
        <div class="container pt-5">
          <section id="custom-main-search-menu">
          
            <div>
              <h1>
                <b>Encontre o <u class="custom-main-text-border">curso certo</u><br/>para você</b>
              </h1>
            
              <p class="mt-4">
                A Direkte te auxilia na hora de comparar e escolher <br/>sua pós-graduação ou MBA!
              </p>
            </div>
          
            <div class="custom-main-search-card-position pt-3 px-5 mt-3 w-75">
              <div class="card">
                <form class="text-body pt-3 px-5" #formCourseSearch="ngForm" (ngSubmit)="performSearch(formCourseSearch)">
                  <div class="card-body">
                    <div class="form-group">
            
                      <div class="form-check form-check-inline">
                        <h4 class="card-title">
                          <b>O que você está procurando?</b>
                        </h4>
                      </div>
      
                      <div class="float-right">
                        <div class="form-check form-check-inline">
                          <input 
                            #postGraduation="ngModel" 
                            [(ngModel)]="courseSearchForm.postGraduation" 
                            type="checkbox" class="form-check-input" id="checkbox-post-graduation" name="checkbox-post-graduation">
                          
                          <label for="checkbox-post-graduation" class="form-check-label custom-form-label">
                            Pós-graduação
                          </label>
                        </div>
              
                        <div class="form-check form-check-inline">
                          <input 
                            #mba="ngModel"
                            [(ngModel)]="courseSearchForm.mba"
                            type="checkbox" class="form-check-input" id="checkbox-mba" name="checkbox-mba">
                          
                            <label for="checkbox-mba" class="form-check-label custom-form-label">
                            MBA
                          </label>
                        </div>
              
                        <div class="form-check form-check-inline">
                          <input 
                            #shortDuration="ngModel"
                            [(ngModel)]="courseSearchForm.shortDuration"
                            type="checkbox" class="form-check-input" id="checkbox-shortduration" name="checkbox-shortduration">
                          
                          <label for="checkbox-shortduration" class="form-check-label custom-form-label">
                            Cursos de curta duração
                          </label>
                        </div>
                      </div>
            
                      <hr class="custom-main-search-hr">
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-5 mr-5">
                          <label for="course-area-select" class="custom-main-search-label">Escolha uma área de atuação </label>
                          <small class="form-text form-check-inline text-muted ml-2">(ex: Direito)</small>
      
                          <select 
                            #mainCourse="ngModel"
                            [(ngModel)]="courseSearchForm.course.mainCourse"
                            (load)=getSpecializationList($event)
                            name="course-area-select" id="course-area-select" 
                            class="form-control custom-select">
                            
                            <option *ngFor="let course of courseList" value="{{course.courseId}}">{{course.name}}</option>
      
                          </select>
                        </div>
            
                        <div class="form-group col-md-5 ml-5">
                          <label for="course-specialization-select" class="custom-main-search-label">Escolha uma especialização </label>
                          <small class="form-text form-check-inline text-muted ml-2">(ex: Direito Comercial)</small>
      
                          <select 
                            #courseSpecialization="ngModel"
                            [(ngModel)]="courseSearchForm.course.specialization"
                            name="course-specialization-select" id="course-specialization-select" 
                            class="form-control custom-select">
                            
                            <option selected value="a">Especialização 1</option>
                            <option value="b">Especialização 2</option>
                          </select>
                        </div>
                      </div>
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-5 mr-5">
            
                          <p class="custom-main-search-label">Escolha uma modalidade</p>
            
                          <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="e" id="e">
                            <label for="e" class="form-check-label">
                              Presencial
                            </label>
                          </div>
            
                          <div class="form-check form-check-inline ml-3">
                            <input type="checkbox" class="form-check-input" value="f" id="f">
                            <label for="f" class="form-check-label">
                              Semi-presencial
                            </label>
                          </div>
            
                          <div class="form-check form-check-inline ml-3"> 
                            <input type="checkbox" class="form-check-input" value="g" id="g">
                            <label for="g" class="form-check-label">
                              À distância
                            </label>
                          </div>
            
                        </div>
            
                        <div class="form-group col-md-5 ml-5">
                          <label for="course-price-range" class="custom-main-search-label">Quanto você gostaria de pagar no seu curso?</label>
                          <input type="range" name="course-price-range" id="course-price-range" data-slider-min="1000" data-slider-max="5000" data-slider-step="100" data-slider-value="2000">
                          <!--<input type="range" name="course-price-range" id="course-price-range" class="custom-range ml-3"> -->
                          <p class="custom-price-range-label text-center">
                            Até R$ 5000/mês
                          </p>
                        </div>
                      </div>
            
                      <div class="form-row mt-3">
                        <div class="form-group col-md-12">
                          <div class="mx-auto" style="display: block; width: 200px;">
                            <button type="submit" class="btn btn-primary btn-lg custom-primary-button">Pesquisar</button>
                          </div>
                        </div>
                      </div>
            
                    </div>
                  </div>
                </form>
              </div>
            </div>
          
          </section>
        </div>
      </div>
    </div>

    <div class="custom-next-step">
      <div class="container">
        <section id="custom-next-step">
          <div class="row h-100">
            <div class="col my-auto px-3">
              <div class="custom-next-step-badge-item">
                <div class="row">
                  <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/grupo_358.png" alt="image1">
                  </div>
                  <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                      Busca rápida de cursos de MBA e pós-<br/>graduação, 100% grátis
                    </div>
                  </div>
                </div>
              </div>

              <div class="custom-next-step-badge-item">
                <div class="row">
                  <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/grupo_359.png" alt="image2">
                  </div>
                  <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                      Encontre a melhor opção para você e que<br/> cabe no seu bolso
                    </div>
                  </div>
                </div>
              </div>

              <div class="custom-next-step-badge-item">
                <div class="row">
                  <div class="col-3">
                    <img class="custom-next-step-badge-item-img" src="assets/img/grupo_360.png" alt="image3">
                  </div>
                  <div class="col-9 my-auto">
                    <div class="custom-next-step-badge-item-text">
                      Fácil comparação de cursos, com as<br/> informações que você precisa em um só lugar
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col">
              <h2 class="mb-3 custom-customer-doubts-title mt-5"><u class="custom-main-text-border">Qual</u> seu próximo passo?</h2>
            
              <p class="mt-5">Buscando recolocação no mercado? Promoção no seu emprego atual? Melhorar sua qualificação? Mudança de carreira?
                Independente do que te motiva a continuar seus estudos, estamos aqui pra te ajudar a alcançar o que deseja.
              </p>

              <p class="mt-5">
                Somos uma plataforma de busca e comparação de cursos de pós-graduação e MBA na cidade de São Paulo. Consolidamos as
                informações dos cursos disponíveis para você comparar as opções (seja por custo, localização, instituição, etc.) e decidir qual
                é a melhor para você!
              </p>

            </div>
          </div>
        </section>
      </div>
    </div>
      
    <div class="custom-customer-doubts-bck">
      <div class="container">
        <section id="custom-customer-doubts">
          <div class="row h-100">
            <div class="col my-auto px-3">

              <h2 class="mb-3 custom-customer-doubts-title">Está com dúvida sobre qual <br/><u class="custom-main-text-border">curs</u>o fazer?</h2>
      
              <p class="my-5">A gente te ajuda!</p>
              
              <p>
                É normal não ter certeza sobre qual curso escolher entre tantas áreas e opções.
                Por isso, nossa equipe
                está à disposição para entender melhor seu perfil e te ajudar nessa decisão.
              </p>
      
              <p class="mt-5">
                <button class="btn btn-primary btn-lg px-5 py-3 custom-app-general-button" data-toggle="modal" data-target="#customer-form-email">
                  Fale com a gente
                </button>
              </p>
            </div>

            <div class="modal fade" id="customer-form-email" tabindex="-1" role="dialog" aria-labelledby="customer-form-email-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">

                    <h5 class="custom-customer-doubts-title" id="customer-form-email-title">
                      <u class="customer-main-text-border">Nos co</u>nte mais sobre você
                    </h5>

                    <button class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>

                  <div class="modal-body">
                    <form action="">
                      <div class="form-row">
                        <div class="form-group col-md">
                          <label for="customer-doubts-form-cust-name">Nome</label>
                          <input type="text" name="customer-doubts-form-cust-name" id="customer-doubts-form-cust-name" class="form-control" required>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md">
                          <label for="customer-doubts-form-cust-email">E-mail</label>
                          <input type="email" name="customer-doubts-form-cust-email" id="customer-doubts-form-cust-email" class="form-control" required>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="customer-doubts-form-cust-age">Idade</label>
                          <select name="customer-doubts-form-cust-age" id="customer-doubts-form-cust-age" class="form-control" required>
                            <option value="Entre 18 e 25 anos">Entre 18 e 25 anos</option>
                            <option value="Entre 26 e 35 anos">Entre 26 e 35 anos</option>
                            <option value="Entre 36 e 45 anos">Entre 36 e 45 anos</option>
                            <option value="Entre 46 e 55 anos">Entre 46 e 55 anos</option>
                            <option value="Acima de 55 anos">Acima de 55 anos</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-9">
                          <label for="customer-doubts-form-cust-level-education">Nível de escolaridade</label>
                          <select name="customer-doubts-form-cust-level-education" id="customer-doubts-form-cust-level-education" class="form-control" required>
                            <option value="Ensino médio completo">Ensino médio completo</option>
                            <option value="Superior completo">Superior completo</option>
                            <option value="Superior incompleto">Superior incompleto</option>
                            <option value="Pós graduação ou MBA completo">Pós graduação ou MBA completo</option>
                            <option value="Pós graduação ou MBA incompleto">Pós graduação ou MBA incompleto</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-9">
                          <label for="customer-doubts-form-cust-employed">Atualmente está empregado?</label>
                          <select name="customer-doubts-form-cust-employed" id="customer-doubts-form-cust-employed" class="form-control col-md-3">
                            <option value="true">Sim</option>
                            <option value="false">Não</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md">
                          <label for="customer-doubts-form-cust-current-job">Cargo Atual (ou último) e área de interesse</label>
                          <input type="text" name="customer-doubts-form-cust-current-job" id="customer-doubts-form-cust-current-job" class="form-control" required>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-9">
                          <label for="customer-doubts-form-cust-investment">Até quanto pretende investir?</label>
                          <select name="customer-doubts-form-cust-investment" id="customer-doubts-form-cust-investment" class="form-control" required>
                            <option value="Até 300 reais por mês">Até 300 reais por mês</option>
                            <option value="Entre 300 e 600 reais por mês">Entre 300 e 600 reais por mês</option>
                            <option value="Entre 600 e 900 reais por mês">Entre 600 e 900 reais por mês</option>
                            <option value="Entre 900 e 1.500 reais por mês">Entre 900 e 1.500 reais por mês</option>
                            <option value="Acima de 1.500 reais por mês">Acima de 1.500 reais por mês</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-9">
                          <label for="customer-doubts-form-cust-course-type">Que modalidade de curso busca?</label>
                          <select name="customer-doubts-form-cust-course-type" id="customer-doubts-form-cust-course-type" class="form-control col-md-6">
                            <option value="Presencial">Presencial</option>
                            <option value="A distância">A distância</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md">
                          <label for="customer-doubts-form-cust-aspiration">O que busca com o curso de MBA ou Pós Graduação</label>
                          <textarea name="customer-doubts-form-cust-aspiration" id="customer-doubts-form-cust-aspiration" cols="15" rows="5" class="form-control"></textarea>
                        </div>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md ml-3">
                          <input type="checkbox" class="form-check-input" name="customer-doubts-form-cust-accept-more-info" id="customer-doubts-form-cust-accept-more-info">
                          <label for="customer-doubts-form-cust-accept-more-info" class="form-check-label">Aceito receber e-mails com informações</label>
                        </div>
                      </div>

                    </form>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-primary mx-auto">Enviar</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col ml-5">
              <div class="py-5">
                <img src="assets/img/grupo_176.png" id="custom-customer-doubts-image" alt="image">
              </div>
            </div>
          </div>
  
        </section>
      </div>
    </div>
      
    <div class="custom-newletter-bck">
      <div class="container">
  
        <section class="custom-newsletter p-5">
          <h2 class="custom-newsletter-title">
            Fique por dentro das novidades do mercado!
          </h2>
  
          <p class="pt-3">
            Receba notícias sobre carreira, o que está em alta no mercado de trabalho e informações sobre <br/>novos cursos disponíveis.
          </p>
  
  
          <div class="input-group input-group-lg p-5">
            <input type="email" name="customer-email-newsletter" id="customer-email-newsletter" class="form-control" placeholder="Digite seu endereço de email" aria-label="Digite seu endereço de email" aria-describedby="email-newsletter">
            <div class="input-group-append">
              <button class="btn btn-lg custom-newletter-button" type="button" id="email-newsletter">Cadastre-se</button>
            </div>
          </div>
  
        </section>
      </div>
    </div>
  </main>

  <dkt-footer></dkt-footer>
</div>

<router-outlet></router-outlet>
