<dkt-header [displayMenuItens]="displayHeaderMenuItens"></dkt-header>
<!-- <p>
  promo {{ searchParams.promo }}
  course {{ searchParams.course }}
  spec {{ searchParams.spec }}
</p> -->

<section class="container">

  <div class="alert alert-danger alert-dismissible fade show" name="custom-alert" style="display: none;" role="alert">
    {{ errorMessage }}
  </div>

  <div class="row m-3">
    <button class="btn btn-outline-primary btn-sn custom-search-buttom mx-auto" data-toggle="modal" data-target="#course-search-modal">
      <i class="material-icons">
        filter_list
      </i> Nova Pesquisa
    </button>
  </div>

  <p *ngIf="searchCouseResult.length == 1">
    {{searchCouseResult.length}} resultado encontrado
  </p>

  <p *ngIf="searchCouseResult.length > 1">
    {{searchCouseResult.length}} resultados encontrados
  </p>

  <!-- Display Values only if search returned results -->
  <div class="row mt-1" *ngIf="searchCouseResult.length > 0">

    <!-- Iterate through result list -->
    <div class="col-sm-4" *ngFor="let courseResult of searchCouseResult">
      <div class="card shadow p-3 mb-3 bg-white rounded">
        <div class="card-body">
          <div class="custom-card-image-title">
            <img src="{{courseResult.instituicao.urlLogo}}" alt="{{courseResult.instituicao.sigla}}" class="align-middle my-auto">
          </div>
  
          <hr>

          <div class="custom-course-search-content-info">
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Faculdade
              </div>
              
              <div class="col">
                {{courseResult.instituicao.sigla}}
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Curso
              </div>
              
              <div class="col">
                {{courseResult.nome}}
              </div>
            </div>
    
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Modalidade
              </div>
              
              <div class="col">
                {{courseResult.modalidade.nome}}
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Período
              </div>
              
              <div class="col">
                {{courseResult.periodo}}
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Duração
              </div>
              
              <div class="col" *ngIf="courseResult.duracao > 1">
                {{courseResult.duracao}} Meses
              </div>
  
              <div class="col" *ngIf="courseResult.duracao == 1">
                {{courseResult.duracao}} Mês
              </div>
            </div>
  
            <div class="row mt-3">
              <div class="col-4 custom-main-card-body-title">
                Investimento Mensal
              </div>
              
              <div class="col">
                {{courseResult.valorMensal | currency: 'BRL'}}
              </div>
            </div>
          </div>


          
          <div class="custom-course-search-buttons-group">
            
            <hr>

            <a href="{{courseResult.cursoUrlManual.linkCurso}}" target="_blank" class="btn btn-outline-primary btn-sn custom-search-buttom">Ver detalhes</a>
            <input type="hidden" name="course-more-details" value="{{ courseResult.nome }}">
            <button (click)="setCourseDetails(courseResult)" class="btn btn-primary btn-sn custom-search-buttom" data-toggle="modal" data-target="#course-pre-registration-modal">
              Tenho Interesse
            </button>

            <direkte-course-pre-registration></direkte-course-pre-registration>
          </div>
        </div>
      </div>
  
    </div>
    
  </div>
</section>
<dkt-footer></dkt-footer>

<div class="alert alert-dismissible fade show" id="customer-form-email-alert" style="display: none;" role="alert">
  {{ errorMessage }}
</div>

<!-- Modal - New Search -->
<div class="modal fade" id="course-search-modal" tabindex="-1" role="dialog" aria-labelledby="registrationForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-title" id="registrationForm">
          <u class="customer-main-text-border">O que voc</u>ê está procurando?
        </h5>

        <button class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form #coursePreRegistration="ngForm" (ngSubmit)="performSearch(null,true)" class="needs-validation">
        <div class="modal-body">    
          
          <div class="alert alert-danger alert-dismissible fade show" name="custom-alert" id="alert-search-course-modal" style="display: none;" role="alert">
            {{ errorMessage }}
          </div>

          <div class="form-row">
            <div class="col">
              <p class="text-left custom-title">
                Tipo de Curso
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <input [(ngModel)]="menuSearchOptions.postGraduation" type="checkbox" name="checkbox-post-graduation-modal" id="checkbox-post-graduation-modal" checked>
              <label for="checkbox-post-graduation-modal" class="ml-1">Pós-graduação</label>

              <input [(ngModel)]="menuSearchOptions.mba" type="checkbox" name="checkbox-mba-modal" id="checkbox-mba-modal" class="ml-3" checked>
              <label for="checkbox-mba-modal" class="ml-1">MBA</label>              
            </div>            
          </div>

          <hr>

          <div class="form-row">
            <label for="select-course-area-modal">
              Área de Atuação
            </label>
            <select
              [(ngModel)]="menuSearchOptions.mainCourse"
              (change)="loadSpecialization($event)"
              name="select-course-area-modal" id="select-course-area-modal" 
              class="form-control custom-select"              
            >
              <option value="0" selected disabled>Selecione</option>
              <option *ngFor="let course of courseList" value="{{course.id}}">{{course.nome}}</option>
            </select>
          </div>

          <div class="form-row mt-1">
            <label for="select-specialization-area-modal mt-1">
              Especialização
            </label>
            <select
              [(ngModel)]="menuSearchOptions.courseSpecialization"
              name="select-specialization-area-modal" id="select-specialization-area-modal" 
              class="form-control custom-select"              
            >  
              <option value="0" selected disabled>Selecione</option>
              <option *ngFor="let spec of specializationList" value="{{spec.id}}">{{spec.nome}}</option>
            </select>
          </div>

          <hr>

          <div class="form-row">
            <div class="col">
              <p class="text-left custom-title">
                Modalidade
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <input [(ngModel)]="menuSearchOptions.onSite" type="checkbox" name="checkbox-on-site-course-modal" id="checkbox-on-site-course-modal" checked>
              <label for="checkbox-on-site-course-modal" class="ml-1">Presencial</label>
  
              <input [(ngModel)]="menuSearchOptions.semiOnSite" type="checkbox" name="checkbox-semi-on-site-course-modal" id="checkbox-semi-on-site-course-modal" class="ml-3" checked>
              <label for="checkbox-semi-on-site-course-modal" class="ml-1">À Distância</label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-sn mx-auto">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>