<div class="alert alert-dismissible fade show" id="customer-form-email-alert" style="display: none;" role="alert">
    {{ errorMessage }}
</div>

<div class="modal fade" id="customer-form-email" tabindex="-1" role="dialog" aria-labelledby="customer-form-email-title"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title customer-customer-doubts-title" id="customer-form-email-title">
                    <u class="customer-main-text-border">Nos co</u>nte mais sobre você
                </h5>

                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <form #customerDoubtsForm="ngForm" (ngSubmit)="sendForm(customerDoubtsForm)" class="needs-validation">
                <div class="modal-body">

                    <div class="form-row">
                        <div class="col-md mb-3">
                            <label for="customer-doubts-form-cust-name">Nome *</label>
                            <input 
                                [(ngModel)]="customer.name"
                                (input)="checkChanges('customer-doubts-form-cust-name')"
                                type="text" name="customer-doubts-form-cust-name" id="customer-doubts-form-cust-name"
                                placeholder="Digite seu nome" class="form-control" required>
                            <div class="invalid-feedback">
                                Por favor preencha seu nome.
                            </div>
                        </div>

                        <div class="col-md mb-3">
                            <label for="customer-doubts-form-cust-email">E-mail *</label>
                            <input 
                                [(ngModel)]="customer.email"
                                (input)="checkChanges('customer-doubts-form-cust-email')"
                                type="email" name="customer-doubts-form-cust-email"
                                id="customer-doubts-form-cust-email" placeholder="Digite seu e-mail"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Por favor preencha seu e-mail.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="customer-doubts-form-cust-age">Idade *</label>
                            <select 
                                [(ngModel)]="customer.age"
                                (input)="checkChanges('customer-doubts-form-cust-age')"
                                name="customer-doubts-form-cust-age" id="customer-doubts-form-cust-age"
                                class="custom-select form-control" required>
                                <option selected disabled value="0">Selecione...</option>
                                <option value="Entre 18 e 25 anos">Entre 18 e 25 anos</option>
                                <option value="Entre 26 e 35 anos">Entre 26 e 35 anos</option>
                                <option value="Entre 36 e 45 anos">Entre 36 e 45 anos</option>
                                <option value="Entre 46 e 55 anos">Entre 46 e 55 anos</option>
                                <option value="Acima de 55 anos">Acima de 55 anos</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor selecione sua Idade.
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="customer-doubts-form-cust-level-education">Nível de escolaridade</label>
                            <select 
                                [(ngModel)]="customer.educationLevel"
                                name="customer-doubts-form-cust-level-education"
                                id="customer-doubts-form-cust-level-education" class="custom-select form-control" required>
                                
                                <option value="Ensino médio completo">Ensino médio completo</option>
                                <option value="Superior completo">Superior completo</option>
                                <option value="Superior incompleto">Superior incompleto</option>
                                <option value="Pós graduação ou MBA completo">Pós graduação ou MBA completo</option>
                                <option value="Pós graduação ou MBA incompleto">Pós graduação ou MBA incompleto</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="customer-doubts-form-cust-employed">Atualmente está empregado?</label>
                            <select 
                                [(ngModel)]="customer.employed"
                                name="customer-doubts-form-cust-employed" id="customer-doubts-form-cust-employed"
                                class="custom-select form-control">
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="customer-doubts-form-cust-current-job">Cargo Atual (ou último) e área de
                                interesse *</label>
                            <input 
                                [(ngModel)]="customer.currentJob"
                                (input)="checkChanges('customer-doubts-form-cust-current-job')"
                                type="text" name="customer-doubts-form-cust-current-job"
                                id="customer-doubts-form-cust-current-job" class="form-control" required>
                            <div class="invalid-feedback">
                                Por favor preencha este campo.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="customer-doubts-form-cust-investment">Até quanto pretende investir? *</label>
                            <select 
                                [(ngModel)]="customer.investmentIntention"
                                (input)="checkChanges('customer-doubts-form-cust-investment')"
                                name="customer-doubts-form-cust-investment"
                                id="customer-doubts-form-cust-investment" class="custom-select" required>
                                <option selected disabled value="0">Selecione...</option>
                                <option value="Até 300 reais por mês">Até 300 reais por mês</option>
                                <option value="Entre 300 e 600 reais por mês">Entre 300 e 600 reais por mês</option>
                                <option value="Entre 600 e 900 reais por mês">Entre 600 e 900 reais por mês</option>
                                <option value="Entre 900 e 1.500 reais por mês">Entre 900 e 1.500 reais por mês</option>
                                <option value="Acima de 1.500 reais por mês">Acima de 1.500 reais por mês</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor informe até quanto você pretende investir.
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="customer-doubts-form-cust-course-type">Que modalidade de curso busca?</label>
                            <select 
                                [(ngModel)]="customer.courseType"
                                name="customer-doubts-form-cust-course-type"
                                id="customer-doubts-form-cust-course-type" class="custom-select form-control">
                                <option value="Presencial">Presencial</option>
                                <option value="EAD">EAD</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col-md">
                            <label for="customer-doubts-form-cust-aspiration">O que busca com o curso de MBA ou Pós
                                Graduação</label>
                            <textarea 
                                [(ngModel)]="customer.aspiration"
                                name="customer-doubts-form-cust-aspiration"
                                id="customer-doubts-form-cust-aspiration" cols="15" rows="3"
                                class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="col-md ml-3">
                            <input 
                                [(ngModel)]="customer.agreeReceiveEmails"
                                type="checkbox" class="form-check-input"
                                name="customer-doubts-form-cust-accept-more-info"
                                id="customer-doubts-form-cust-accept-more-info">
                            <label for="customer-doubts-form-cust-accept-more-info" class="form-check-label">Aceito
                                receber e-mails com informações</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>