.customer-customer-doubts-title {
    color: #244278;
}

.customer-main-text-border {
    border-bottom: 3px solid #4fbff1;
    text-decoration: none;
}

@media (max-width: 860px) { 
    label {
        font-size: 0.8rem;
    }
}